<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DB" value="iWgml0r9RPA=">
    </add>
    <add key="SV" value="VL3Y/MQ6+V+VtVXMCMF/qf2PPEFxcN+L">
    </add>
    <add key="WP" value="F9lSrI/PCCE=">
    </add>
    <add key="CL" value="9mg4xNGlaQj6fVbQ8snk9Q==">
    </add>
    <add key="PT" value="WH4JbHLYVLNGl+HOwnAbCw==">
    </add>
    <add key="32" value="wkjMc3RhDMdX2Tk20rrJdg==">
    </add>
  </appSettings>
</configuration>