<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DB" value="2XkyPltn1F0="></add>
		<add key="SV" value="GyHZzVe5YSOWCKhc86XHZARUfn9E2TdPQM6ONcUvZZo="></add>
		<add key="WP" value="xkyn/OqySU0="></add>
		<add key="CL" value="m9+6R0KBRCbvKj49iPMXoA=="></add>
		<add key="32" value="wkjMc3RhDMdX2Tk20rrJdg=="></add>
	</appSettings>
</configuration>
