<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="DB" value="iWgml0r9RPA=" />-->
    <!--<add key="DB" value="p+40+vCrSD0=" />SV-->
    <add key="DB" value="iWgml0r9RPA=" />
    <add key="SV" value="qpNtcdeWZWjAqBCOZ6jrhQ==" />
    <add key="WP" value="F9lSrI/PCCE=" />
    <add key="CL" value="9mg4xNGlaQj6fVbQ8snk9Q==" />
    <add key="PT" value="WH4JbHLYVLNGl+HOwnAbCw==" />
    <add key="32" value="wkjMc3RhDMdX2Tk20rrJdg==" />
    <add key="Key" value="ICTYSK4HVDQ9TJ96CRX9G9T68RQ2D3" />

    <!--LUNA SETTINGS-->
    <add key="FD.DataAccessObject.LUNA.ShareConnection" value="False"/>
    <add key="FD.DataAccessObject.LUNA.DisableLazyLoading" value="False"/>
    <add key="FD.DataAccessObject.LUNA.Ioc.ProviderFactory" value="System.Data.SqlClient"/>
    <add key="FD.DataAccessObject.LUNA.Ioc.Ctrl" value="LUNADAO.CtrlDAO"/>
    <add key="FD.DataAccessObject.LUNA.Ioc.Div" value="LUNADAO.DivDAO"/>
    <add key="FD.DataAccessObject.LUNA.Ioc.Divref" value="LUNADAO.DivrefDAO"/>
    <add key="FD.DataAccessObject.LUNA.Ioc.Divrefh" value="LUNADAO.DivrefhDAO"/>
    <add key="FD.DataAccessObject.LUNA.Ioc.Divrefph" value="LUNADAO.DivrefphDAO"/>
    <add key="FD.DataAccessObject.LUNA.Ioc.Fd" value="LUNADAO.FdDAO"/>
    <add key="FD.DataAccessObject.LUNA.Ioc.Interest" value="LUNADAO.InterestDAO"/>
    <add key="FD.DataAccessObject.LUNA.Ioc.Ledger" value="LUNADAO.LedgerDAO"/>
    <add key="FD.DataAccessObject.LUNA.Ioc.Members" value="LUNADAO.MembersDAO"/>
    <add key="FD.DataAccessObject.LUNA.Ioc.Ref" value="LUNADAO.RefDAO"/>
    <add key="FD.DataAccessObject.LUNA.Ioc.Rnterest" value="LUNADAO.RnterestDAO"/>
    <add key="FD.DataAccessObject.LUNA.Ioc.Snterest" value="LUNADAO.SnterestDAO"/>
    <add key="FD.DataAccessObject.LUNA.Ioc.Trancode" value="LUNADAO.TrancodeDAO"/>
    <add key="FD.DataAccessObject.LUNA.Ioc.User" value="LUNADAO.UserDAO"/>
  </appSettings>
</configuration>