<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DB" value="iWgml0r9RPA=">
    </add>
    <add key="SV" value="/lRtwKG45udRp2y03S0comPWt7pp1L5VU7+uPKEUYE6NVDM4XKQRUA==">
    </add>
    <add key="WP" value="F9lSrI/PCCE=">
    </add>
    <add key="CL" value="9mg4xNGlaQj6fVbQ8snk9Q==">
    </add>
    <add key="PT" value="53ScObfiytlSrOXufkYUEV8zfw2ARVN7">
    </add>
    <add key="32" value="wkjMc3RhDMdX2Tk20rrJdg==">
    </add>
  </appSettings>
</configuration>